<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>
<body>
    <p>>(ง •̀_•́)ง</p>
    <p style="background-color:rgb(116, 30, 255); color: #ffffff; font-family:verdana">Get your student <a href="/student">here</a></p>
    <p>ᕙ(`▽´)ᕗ</p>
    <p style="background-color:rgb(30, 255, 199); color: #000000; font-family:verdana">About page <a href="/about">here</a></p>
    <p>( º﹃º )</p>
    <p style="background-color:DodgerBlue; color: #ffffff; font-family:verdana;">Hashmap test page <a href="/test">here</a></p>
    <h1 style="background-color:rgb(116, 30, 255); color: #ffffff; font-family:verdana; font-size: 40;">Spring Boot!</h1>
</body>
</html>